// Général body 
$color-text:white;

// Bouton version desktop 
$link-bg:rgb(135, 111, 77);
$link-color:white;
$link-bg-hover:rgb(118, 87, 42); 

// Bouton version mobile 
$link-bg-mobil:rgb(247, 241, 233);
$link-bg-mobil-hover:rgb(245, 225, 198);
$link-bg-mobil-color:rgb(126, 105, 74);