$container-width: 1200px;

// Couleurs background

$bg-grey : rgb(54, 54, 54);
$bg-white-o-6 : rgba(255,255,255, .6);
$bg-black : rgb(22, 22, 21);
// Height header
$header-height : 35rem;

$color-primary : rgba(178, 148, 116, 1);
$color-primary-hover : rgb(161, 134, 104);

// Couleur font
$color-white : white;