@use "variables" as v;
.jt-section-navbar {
    background-color: v.$bg-navbar;
    color: v.$bg-color;
    ul {
        li {
            a {
              color: v.$bg-color;  
              &:hover {
                color: v.$bg-color-hover;
              }
              &.nav-link {
                &.active {
                    color: v.$bg-color-hover;
                }
              }
            }
        }
    }
    .navbar{
        
        &.bg-body-tertiary {
            background-color: inherit !important;
        }
        .navbar-brand {
            color: v.$bg-color;
        }
        .jt-btn-menu {
            margin-right: 8px;
        }
    }
}



